.postContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
}
.postContainer div:nth-child(1) {
  margin: 10px;
}
.postContainer div:nth-child(4)  {
  display: flex;
  justify-content: center;
}
.postContainer h2 {
  font-weight: 300;
  text-align: center;
  font-size: 35px;
}
.postContainer input {
  font-size: 17px;
  width: 100%;
  margin-top: 10px;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
}
.postContainer button {
  background: #03a9f4;
  font-size: 13px;
  padding: 10px;
  color: #ffffff;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 10px 0 10px;
}
.postContainer button:hover {
  opacity: .7;
}

.postContainer select {
  font-size: 20px;
  margin-top: 20px;
}
.custom-select {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #3C1C78;
  background-color: #16013E;
  z-index: 10;
}

  select {
    border: none;
    outline: none;
    background: white;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #714BB9;
  }
  select:after{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: '\2228';
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    border-left: 1px solid #3C1C78;
    z-index: -1;
  }
